<div class="container">
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="p-5 text-sm-center text-md-end">
                <h1 style="font-size: 3rem;">Welcome to our vibrant
                    community !</h1>
                <p>Stay connected for the latest news, exclusive insights, and engaging content by following us on
                    social
                    media. Let's
                    engage in ongoing conversations and join forces to craft something incredible.</p>
                <p>You are now a valued member of a truly unique community!</p>
                <button type="button" class="btn btn-lg btn-danger cta">Join Us</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rounded-3 scrollable-column">
                <a class="twitter-timeline" href="https://twitter.com/CHUCK_on_Base?ref_src=twsrc%5Etfw">Tweets by
                    CHUCK_on_Base</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
</div>