<footer class="mt-5 py-5">
    <div class="container-fluid text-light text-center">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4 justify-content-start mt-3">
                <a className="mt-5 pt-5" href="https://www.base.org/">
                    <img src="../src/Logo others/base.png" alt="base_icon" className="footerImg" width="50"
                        height="50" />
                </a>
                <a className="mt-5 pt-5"
                    href="https://www.dextools.io/app/en/base/pair-explorer/0xa878a7944062c3984b214a6f7bc3970f4a6a5257">
                    <img src="../src/Logo others/dextools.png" alt="dexTools_icon" className="footerImg" width="45"
                        height="60" />
                </a>
                <a className="mt-5 pt-5"
                    href="https://app.uniswap.org/explore/tokens/base/0x7a8a5012022bccbf3ea4b03cd2bb5583d915fb1a">
                    <img src="../src/Logo others/uniswap.png" alt="Uniswap_icon" className="footerImg" width="50"
                        height="50" />
                </a>
            </div>
            <div class="col-md-4 justify-content-center mt-3">
                <a href="mailto:info@chuckonbase.io" class="email">
                    <small>Get in Touch</small>
                    <p>info@chuckonbase.io</p>
                </a>
            </div>
            <div class="col-md-4 justify-content-end mt-3">
                <a className="mt-5 pt-5" href="https://twitter.com/CHUCK_on_Base">
                    <img src="../src/Logo others/x.png" alt="x_icon" className="footerImg" width="50" height="50" />
                </a>
                <a className="mt-5 pt-5" href="https://t.me/Chuck_on_Base">
                    <img src="../src/Logo others/telegram.png" alt="telegram_icon" className="footerImg" width="50"
                        height="50" />
                </a>
                <a className="mt-5 pt-5" href="https://www.tiktok.com/@chucksdog">
                    <img src="../src/Logo others/Tiktok_logo.png" alt="tiktok_icon" className="footerImg" width="50"
                        height="50" />
                </a>
            </div>
        </div>
    </div>
</footer>
<div class="container-fluid text-light text-center my-3">
    <div class="row">
        <div class="col">
            <h4>
                <a className="p-2" href="https://www.base.org/">Powered by Base</a>
            </h4>
            <small> All Rights Reserved &copy; 2024 Chuck On Base</small>
        </div>
    </div>
</div>