<div class="cover-container d-flex h-100 p-3 mb-5 mx-auto flex-column text-center" id="landing">
    <main class="px-1 mb-5">
        <img src="../src/images/chuck_logo.webp" class="img-fluid w-75" alt="chuck" />
        <h1 class="cover-heading mt-3">Chuck, the round house kicking crypto canine, unleashed strength for a pawsitive
            cause!</h1>
        <button type="button" class="btn btn-lg btn-danger cta mt-1"><a
                href="https://app.uniswap.org/explore/tokens/base/0x7a8a5012022bccbf3ea4b03cd2bb5583d915fb1a">BUY</a>
        </button>
    </main>
</div>