<nav class="navbar navbar-expand-lg px-5 navBar sticky-top mb-5 shadow-lg">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" id="brand">
            <img src="../src/images/chuck-brand.png" alt="chuck" width="55" height="55" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="../pages/howToBuy.html">How to buy</a>
                <a class="nav-link"
                    href="https://www.dextools.io/app/en/base/pair-explorer/0xa878a7944062c3984b214a6f7bc3970f4a6a5257">Chart</a>
                <a class="nav-link" href="../pages/whitePaper.html">Whitepaper</a>
                <a class="nav-link" href="../pages/roadMap.html">Roadmap</a>
                <a class="nav-link" href="../pages/tokenomics.html">Tokenomics</a>
                <a class="nav-link" href="https://linktr.ee/chuckonbase" target="_blank">Join Us</a>
            </div>
        </div>
    </div>
</nav>